.vs/
DotNetCraft.Common.Databases.Mongo/obj/
src/DotNetCraft.Common.Databases.Abstractions/obj/
src/DotNetCraft.Common.Databases.MsSql/obj/
DotNetCraft.Common.Databases.Mongo/bin/
src/DotNetCraft.Common.Databases.Abstractions/bin/
src/DotNetCraft.Common.Databases.MsSql/bin/
src/DotNetCraft.Common.Databases.Mongo/bin/
src/DotNetCraft.Common.Databases.Mongo/obj/
tests/DotNetCraft.Common.Databases.Abstractions.Tests/bin/
tests/DotNetCraft.Common.Databases.Abstractions.Tests/obj/
tests/DotNetCraft.Common.Databases.Mongo.Tests/bin/
tests/DotNetCraft.Common.Databases.Mongo.Tests/obj/
